<h1>Nowy pracownik</h1>

<hr />

<form action="/Employee/Create" method="post">
	<div class="row">

		<div class="col-md-3">
			<fieldset class="border rounded p-3">
				<legend class="float-none w-auto px-2">Dane podstawowe</legend>
				
				<div class="mb-3">
					<label class="col-form-label" for="FirstName">Imię</label>
					<input class="form-control" type="text" id="FirstName" name="FirstName" />
				</div>

				<div class="mb-3">
					<label class="col-form-label" for="MiddleName">Drugie imię</label>
					<input class="form-control" type="text" id="MiddleName" name="MiddleName" />
				</div>

				<div class="mb-3">
					<label class="col-form-label" for="LastName">Nazwisko</label>
					<input class="form-control" type="text" id="LastName" name="LastName" />
				</div>

				<div class="mb-3">
					<label class="col-form-label" for="Pesel">PESEL</label>
					<input class="form-control" type="text" id="Pesel" name="Pesel" />
				</div>

				<div class="mb-3">
					<label class="col-form-label" for="BirthDate">Data urodzenia</label>
					<input class="form-control" type="date" id="BirthDate" name="BirthDate" />
				</div>

			</fieldset>
		</div>

		<div class="col-md-3">
			<fieldset class="border rounded p-3">
				<legend class="float-none w-auto px-2">Adres</legend>
				
				<div class="mb-3">
					<label class="col-form-label" for="Country">Kraj</label>
					<input class="form-control" type="text" id="Country" name="Address.Country" />
				</div>

				<div class="mb-3">
					<label class="col-form-label" for="City">Miejscowość</label>
					<input class="form-control" type="text" id="City" name="Address.City" />
				</div>

				<div class="mb-3">
					<label class="col-form-label" for="Street">Ulica</label>
					<input class="form-control" type="text" id="Street" name="Address.Street" />
				</div>

				<div class="mb-3">
					<label class="col-form-label" for="HouseNumber">Numer domu</label>
					<input class="form-control" type="text" id="HouseNumber" name="Address.HouseNumber" />
				</div>

				<div class="mb-3">
					<label class="col-form-label" for="ApartmentNumber">Numer mieszkania</label>
					<input class="form-control" type="text" id="ApartmentNumber" name="Address.ApartmentNumber" />
				</div>

				<div class="mb-3">
					<label class="col-form-label" for="PostalCode">Kod pocztowy</label>
					<input class="form-control" type="text" id="PostalCode" name="Address.PostalCode" />
				</div>

				<div class="mb-3">
					<label class="col-form-label" for="PhoneNumber">Numer telefonu</label>
					<input class="form-control" type="text" id="PhoneNumber" name="Address.PhoneNumber" />
				</div>

			</fieldset>
		</div>

		<div class="col-md-3">
			<fieldset class="border rounded p-3">
				<legend class="float-none w-auto px-2">Osoba do kontaktu</legend>

				<div class="mb-3">
					<label class="col-form-label" for="EmergencyContact.FirstName">Imię</label>
					<input class="form-control" type="text" id="EmergencyContact.FirstName" name="EmergencyContact.FirstName" />
				</div>

				<div class="mb-3">
					<label class="col-form-label" for="EmergencyContact.LastName">Nazwisko</label>
					<input class="form-control" type="text" id="EmergencyContact.LastName" name="EmergencyContact.LastName" />
				</div>

				<div class="mb-3">
					<label class="col-form-label" for="EmergencyContact.PhoneNumber">Numer telefonu</label>
					<input class="form-control" type="text" id="EmergencyContact.PhoneNumber" name="EmergencyContact.PhoneNumber" />
				</div>

			</fieldset>
			
			<div class="mt-5" >
				<input class="btn btn-primary" type="submit" value="Utwórz" />
			</div>
		</div>

	</div>
</form>



